<html>
	<head>
		<style>
			body {
				font-family: sans-serif;
			}
			form {
				padding-top: 20px;
				margin-bottom: 20px;
			}
			.veryWrong {
				background: red;
			}
			.slightlyWrong {
				background: #FFE6E6;
			}
			.correct {
				background: green;
			}

		</style>
	</head>


		<body class="<%= body_class %>" >
			<form>
				<input type="text" name="guess" />
				<input type="submit"  value="Guess!" />
			</form>
			<%= message %>
			<p>You have <%= @@counter %> guesses.</p>
			<% if cheating == 'true' %>
				<p>The secret number is <%= secret_num %> </p>
			<%end%>
		</body>
</html>